
#form1 {
  width:32em;
}

#form1 .oik {
  float: right;
  clear: both;
  margin: 1em;
  padding: 0;

}

#form1 .inp1 {
  float: right;
}

#form1 .vas {
  float: left;
}

#form1 .legend {
  width:fit-content;
  height:fit-content;
}

#form1 .fsetti2 {
    width:30em;
    height:auto;
    display: inline-block;
}

.asemointi1 {
  float: left;
  margin-bottom: 2em;
}

